<form action="{{ path('session.book', {'sessionId':session.id}) }}" method="post">
    <label>Имя:</label>
    <input type="text" name="name" /><br/>

    <label>Номер телефона:</label>
    <input type="text" name="phone_number" /><br/>

    <input type="submit" value="Забронировать" name="book">
</form>
